# IGNORE
node_modules
dist
build
.env

# EDITOR/IDE FILES
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Log files
*.log

# Bun dependencies
bun.lock
bun.lockb

# APPS
/apps/*/node_modules
/apps/*/dist
/apps/*/build
/apps/*/.env

## FRONTEND SPECIFIC
/apps/frontend/.next

# INCLUDE
!/apps/*/.env.example